/* Estilo para el header principal */
ion-header.custom-header {
  --background: transparent; /* Fondo transparente para que coincida con el fondo del contenido */
  color: white; /* Asegura que el texto del header sea blanco */
}

ion-toolbar.custom-toolbar {
  --background: none; /* Sin fondo para el toolbar */
  color: white; /* Color del texto en el toolbar */
  text-align: center;
}

/* Estilo específico para botones dentro del toolbar */
ion-header.custom-header ion-button {
  --color: white; /* Asegura que los botones dentro del toolbar sean blancos */
  --background: transparent; /* Fondo transparente para los botones del toolbar */
}

/* Estilo para el contenido */
ion-content.background {
  --background: linear-gradient(180deg, #403F51, #403F51 40%, #714dab); /* Degradado de color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Aplica un color de fondo al header cuando se colapsa */
ion-header[collapse="fade"] ion-toolbar {
  --background: #403F51;
  color: white;
}

/* Estilo para el título grande cuando el header colapsa */
.condensed-title {
  font-family: system-ui;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: block;
}

/* Estilo para el mensaje de bienvenida */
.welcome-message {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  font-family: 'Helvetica', sans-serif;
}

/* Estilo para los botones en el contenido */
ion-content.background {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos dentro del ion-content */
  padding: 20px;
}

/* Estilo específico para los botones dentro del ion-content */
ion-content.background ion-button {
  width: 80%;
  max-width: 400px;
  margin: 10px auto; /* Centra el botón horizontalmente */
  font-family: 'Helvetica', sans-serif;
  font-size: larger;
  font-weight: bold;
  --border-radius: 100px;
  height: 50px;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  --border-width: 5px; /* Ancho del borde */
  --border-style: solid; /* Estilo del borde */
  --border-color: black; /* Color del borde */
  --background: black; /* Fondo del botón */
  --color: black; /* Color del texto */
}

