<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar" style="display: flex; justify-content: space-between; align-items: center;">
    <ion-buttons slot="start">
      <!-- Botón que redirige a la vista 'cuenta' -->
      <ion-button class="letra" (click)="goToCuenta()">
        <ion-icon  color="warning" slot="start" name="menu-outline"></ion-icon>
    
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-header" style="flex-grow: 1; text-align: center;">VISTA PASAJERO</ion-title>
    <ion-buttons slot="end">
      <!-- Botón que redirige al perfil de usuario -->
      <ion-button class="letra" (click)="goToUserProfile()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">¡TeLlevoApp!</h2><br>
  <h1 class="sub-titulo">Revisa si hay viajes disponibles o crea tu propia solicitud</h1>
  <br>

  <!-- Contenedor para el spinner -->
  <div class="spinner-container" *ngIf="mostrarSpinner">
    <ion-spinner name="lines" class="spinner-grande"></ion-spinner>
  </div>

  <h4><strong>Viajes Disponibles</strong></h4>
  <!-- Lista de rutas disponibles con scroll -->
  <div class="scroll-container">
    <ion-list class="form" *ngIf="!mostrarSpinner" class="limit-list">
      <ion-item class="form-item" *ngFor="let ruta of rutasDisponibles; let i = index" (click)="mostrarActionSheet(ruta)" [color]="rutaSeleccionada === ruta ? 'warning' : ''" [hidden]="i >= 2">
        <ion-label>
          <div class="origen-destino">
            <h2><strong>ORIGEN:</strong> {{ ruta.origen }} &nbsp;&nbsp; <strong>DESTINO:</strong> {{ ruta.destino }}</h2>
          </div>
          <p><strong>Precio:</strong> {{ ruta.precio }}</p>
          <p><strong>Hora:</strong> {{ ruta.hora }}</p>
          <p><strong>Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <h2><strong>Mis Viajes Creados</strong></h2>
  <div class="scroll-container">
    <ion-list  *ngIf="misViajesCreados.length > 0">
      <ion-item class="form-item" *ngFor="let ruta of misViajesCreados; let i = index" (click)="toggleRoute(i)" [class.selected]="i === selectedIndex">
        <ion-label>
          <h2>{{ ruta.origen }} - {{ ruta.destino }}</h2>
          <p>{{ ruta.fecha }} a las {{ ruta.hora }} | Precio: {{ ruta.precio }} | Asientos: {{ ruta.AsientosDisponibles }}</p>
        </ion-label>
        
        <!-- Contenedor de los botones "Gestionar" y "Cancelar" en una fila -->
        <div class="boton-container" *ngIf="i === selectedIndex">
          <ion-button color="warning" class="boton-editar-viaje" (click)="gestionarViaje(i)">
            Gestionar
          </ion-button>
          <ion-button color="danger" class="boton-cancelar-viaje" (click)="cancelarViaje(i)">
            Cancelar
          </ion-button>
        </div>
      </ion-item>   
    </ion-list>
  </div>  
  
  <!-- Botones de acción -->
  <div class="botones-accion">
    <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="crearSolicitud()">
      Crear Viaje<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
    <ion-button expand="block" color="success" class="boton-tono-especial" (click)="recargarRutas()">
      Refrescar Rutas<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
