<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button class="letra" (click)="goToCuenta()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-header">Pasajero</ion-title>
    <ion-buttons slot="end">
      <ion-button class="letra" (click)="goToUserProfile()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">¡Bienvenido a TeLlevoApp!</h2><br>
  <h1 class="sub-titulo">¡Vamos! Revisa si hay viajes disponibles o crea tu propia solicitud</h1>
  <br>

  <!-- Contenedor para el spinner -->
  <div class="spinner-container" *ngIf="mostrarSpinner">
    <ion-spinner name="lines" class="spinner-grande"></ion-spinner>
  </div>

  <h4><strong>Viajes Disponibles</strong></h4>
  <!-- Lista de rutas disponibles con scroll -->
  <div class="scroll-container">
    <ion-list *ngIf="!mostrarSpinner">
      <ion-item *ngFor="let ruta of rutasDisponibles" (click)="selectRuta(ruta)" [color]="rutaSeleccionada === ruta ? 'secondary' : ''">
        <ion-label>
          <div class="origen-destino">
            <h2><strong>ORIGEN:</strong> {{ ruta.origen }} &nbsp;&nbsp; <strong>DESTINO:</strong> {{ ruta.destino }}</h2>
          </div>
          <p><strong>Precio:</strong> {{ ruta.precio }}</p>
          <p><strong>Hora:</strong> {{ ruta.hora }}</p>
          <p><strong>Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
        </ion-label>
        
        <!-- Icono flotante en la esquina inferior derecha -->
        <ion-button fill="clear" size="small" class="icono-flotante" (click)="verDetallesViaje(ruta)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <h2><strong>Mis Viajes Creados</strong></h2>
  <div class="scroll-container">
    <ion-list *ngIf="misViajesCreados.length > 0">
      <ion-item *ngFor="let ruta of misViajesCreados" (click)="selectRuta(ruta)" [color]="rutaSeleccionada === ruta ? 'secondary' : ''">
        <ion-label>
          <div class="origen-destino">
            <h2><strong>ORIGEN:</strong> {{ ruta.origen }} &nbsp;&nbsp; <strong>DESTINO:</strong> {{ ruta.destino }}</h2>
          </div>
          <p><strong>Fecha:</strong> {{ ruta.fecha }}</p>
          <p><strong>Hora:</strong> {{ ruta.hora }}</p>
          <p><strong>Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
        </ion-label>
    
        <!-- Icono flotante para detalles del viaje creado -->
        <ion-button fill="clear" size="small" class="icono-flotante" (click)="verDetallesViaje(ruta)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  
  <!-- Botones de acción -->
  <div class="botones-accion">
    <ion-button expand="block" class="boton-azul" (click)="crearSolicitud()">Crear Viaje</ion-button>
    <ion-button fill="clear" (click)="recargarRutas()">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
