<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button class="letra" (click)="goToCuenta()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-header">Pasajero</ion-title>
    <ion-buttons slot="end">
      <ion-button class="letra" (click)="goToUserProfile()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">¡Bienvenido a TeLlevoApp!</h2><br>
  <h1 class="sub-titulo">¡Vamos! Revisa si hay viajes disponibles</h1>

  <!-- Contenedor para centrar el spinner -->
  <div class="spinner-container" *ngIf="mostrarSpinner">
    <ion-spinner name="lines" class="spinner-grande"></ion-spinner>
  </div>

  <!-- Cuadro de rutas disponibles -->
  <ion-list *ngIf="!mostrarSpinner">
    <ion-item *ngFor="let ruta of rutasDisponibles" (click)="selectRuta(ruta)" [color]="rutaSeleccionada === ruta ? 'secondary' : ''">
      <ion-label>
        <h2><strong>ORIGEN:</strong> {{ ruta.origen }} <strong>DESTINO:</strong> {{ ruta.destino }}</h2>
        <p><strong>Precio:</strong> {{ ruta.precio }}</p>
        <p><strong>Conductor:</strong> {{ ruta.conductor }}</p>
        <p><strong>Hora:</strong> {{ ruta.hora }}</p>
        <p><strong>Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

  <!-- Botón para ver detalles del viaje seleccionado -->
  <ion-button expand="block" class="boton-azul" (click)="verDetallesViaje()">Ver datos del viaje</ion-button>
  <ion-button expand="block" color="success" class="boton-recargar" (click)="recargarRutas()">Recargar</ion-button>
<br>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
