<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">VIAJE EN CURSO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">VIAJE INICIADO</h2><br>
  <div class="color-letter" *ngIf="ruta">
    <h3 class="sub-titulo">Detalles del viaje:</h3>
    <p><strong> • Origen:</strong> {{ ruta.origen }}</p>
    <p><strong> • Destino:</strong> {{ ruta.destino }}</p>
    <p><strong> • Precio:</strong> {{ ruta.precio }}</p>
    <p><strong> • Conductor:</strong> {{ ruta.conductor }}</p>
    <p><strong> • Hora Salida:</strong> {{ ruta.hora }}</p>
  </div>

  <!-- Animación de auto hacia el destino -->
  <div class="animation-container">
    <div class="car-icon-container">
      <img src="assets/icon/car-icon.png" alt="Auto" class="car-icon">
    </div>
    <ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
    <ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
    <ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
    <ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
    <ion-icon name="caret-forward-outline" class="arrow-icon"></ion-icon>
    <div class="home-icon-container">
      <ion-icon name="home-outline" class="home-icon"></ion-icon>
    </div>
  </div>

  <!-- Botón para finalizar viaje y calificar servicio -->
  <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="finalizarViaje()">Finalizar Viaje<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-button>
  <br>
  <!-- Información de la forma de pago acordada -->
  <p class="forma-pago-info">
    <strong>Forma de pago de viaje acordado:</strong> <br> <br><h2><strong>{{ formaPago }}</strong></h2>
  </p>
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
