<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/detalle-viaje" text="Volver" ></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Tomar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Ponte de acuerdo con el chofer</h2><br>
  <div class="color-letter" *ngIf="ruta">
    <h3 class="sub-titulo">Detalles del viaje:</h3>
    <p><strong> • Origen:</strong> {{ ruta.origen }}</p>
    <p><strong> • Destino:</strong> {{ ruta.destino }}</p>
    <p><strong> • Precio:</strong> {{ ruta.precio }}</p>
    <p><strong> • Conductor:</strong> {{ ruta.conductor }}</p>
    <p><strong> • Hora Salida:</strong> {{ ruta.hora }}</p>
  </div>

  <!-- Botón para contactar al chofer -->
  <ion-button expand="block" class="boton-azul" (click)="contactarChofer()">Contactar al Chofer</ion-button>

</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>