<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Programar un viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Crea una solicitud de viaje</h2>
  <form (ngSubmit)="crearSolicitud()">
    <!-- Selección de Comuna Origen -->
    <ion-item>
      <ion-label position="stacked">• Comuna Origen / Sede:</ion-label>
      <ion-select [(ngModel)]="nuevoViaje.origen" name="origen">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.nombre">
          {{ comuna.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selección de Comuna Destino -->
    <ion-item>
      <ion-label position="stacked">• Comuna Destino:</ion-label>
      <ion-select [(ngModel)]="nuevoViaje.destino" name="destino">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.nombre">
          {{ comuna.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fecha de Salida -->
    <ion-item>
      <ion-label position="stacked">• Fecha de Salida</ion-label>
      <ion-input type="date" [(ngModel)]="nuevoViaje.fecha" name="fecha" placeholder="DD/MM/YYYY"></ion-input>
    </ion-item>

    <!-- Hora de Salida -->
    <ion-item>
      <ion-label position="stacked">• Hora de Salida</ion-label>
      <ion-input type="time" [(ngModel)]="nuevoViaje.hora" name="hora" placeholder="HH:mm"></ion-input>
    </ion-item>

    <!-- Botón para crear solicitud de viaje -->
    <ion-button expand="block" type="submit" color="success" class="guardar-viaje">Crear Solicitud</ion-button>
  </form>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
