<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Programar un viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Crea una solicitud de viaje</h2>
  
  <ion-item>
    <ion-label position="stacked">• Comuna Origen / Sede:</ion-label>
    <ion-input [(ngModel)]="nuevoViaje.origen"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">• Comuna Destino:</ion-label>
    <ion-input [(ngModel)]="nuevoViaje.destino"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">• Fecha de Salida</ion-label>
    <ion-input type="date" [(ngModel)]="nuevoViaje.fecha" placeholder="DD/MM/YYYY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">• Hora de Salida</ion-label>
    <ion-input type="time" [(ngModel)]="nuevoViaje.hora" placeholder="HH:mm"></ion-input>
  </ion-item>

  <!-- Botón para crear solicitud de viaje con el evento click -->
  <ion-button expand="block" color="success" class="guardar-viaje" (click)="crearSolicitud()">Crear Solicitud</ion-button>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
