<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!--Retroceder a la vista anterior-->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Edita tu perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <h2 class="titulo">Actualiza tus datos</h2>
  <!--Formulario Edición de Perfil-->
  <ion-list>
    <ion-item>
      <ion-label position="floating">• Nombre:</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">• Teléfono:</ion-label>
      <ion-input [(ngModel)]="telefono" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">• Usuario:</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">• Email:</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
  </ion-list>
  
  <!--Botonera-->
  <ion-button expand="block" class="boton-azul" (click)="guardarCambios()">Guardar Cambios</ion-button>
  <ion-button expand="block" color="danger" class="delete-button" (click)="eliminarCuenta()">Elimina tu Cuenta</ion-button>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>