<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>No Hay Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Buscar Viajes</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar clear-icon="trash-bin" animated="true" placeholder="Buscar" (ionChange)="onSearch($event)"></ion-searchbar>
      <br><br>
      <div class="button-container">
        <ion-button [routerLink]="'/programar-viaje'" >Prgrama tu viaje!</ion-button>
      </div> 
      
    </ion-toolbar>
  </ion-header>
</ion-content>
