<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Restablecer</ion-title>
  </ion-toolbar>
  <br>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <div class="icon-text-container">
    <h1 class="titulo">Restablecer <br>Contraseña</h1><br>
  </div>

  <!-- Formulario de Restablecimiento de Contraseña -->
  <form (ngSubmit)="enviarEnlace()" #resetForm="ngForm">
    <ion-item lines="none">
      <ion-label position="stacked">• Correo Electrónico:</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email" class="underline-input"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" class="boton-enviar-enlace" type="submit">Enviar Enlace de Restablecimiento</ion-button>
  </form>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
