<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button> <!-- Vuelve a la página de inicio si no hay historial -->
      </ion-buttons>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="condensed-title" size="large">Restablecer <br> Contraseña</ion-title>    
    </ion-toolbar>
  </ion-header>

  <!-- Formulario de Restablecimiento de Contraseña -->
  <form (ngSubmit)="enviarEnlace()" #resetForm="ngForm">
    <!-- Campo de Correo Electrónico -->
    <ion-item lines="none"> <!-- Usar "lines='none'" para ocultar la línea por defecto de IonItem -->
      <ion-label position="stacked">• Correo Electrónico:</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email" class="underline-input"></ion-input>
    </ion-item><br><br>

    <!-- Botón para Enviar Enlace de Restablecimiento -->
    <ion-button expand="block" class="boton-enviar-enlace" type="submit">Enviar Enlace de Restablecimiento</ion-button>
  </form>

  <!-- Mensaje de Confirmación -->
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <!-- Mensaje de Error -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


</ion-content>
