ion-header.custom-header {
    --background: #4e54c8; /* Fondo degradado */
}


ion-header[collapse="condense"] ion-toolbar {
    --background: transparent; 
}
ion-header[collapse="condense"] ion-toolbar {
    text-align: center; 
    font-size: small;
}

ion-content.background {
    --background: linear-gradient(180deg, #403F51, #403F51 40%, #714dab);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* mensaje enviado */
.success-message {
    color: #2dd36f;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

/* error al enviar mensaje */
.error-message {
    color: #fc0303;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

ion-item {
    --background: transparent;
    /* Hace el fondo de los items transparente */
    --border-color: transparent;
    /* Hace que las líneas de los items sean transparentes */
    --ion-text-color: #ffffff;
    /* Ajusta el color del texto si es necesario */
    font-size: larger;
}

/* Estilo personalizado para subrayar el campo de entrada */
.underline-input {
    border-bottom: 1px solid #ccc;
    /* Línea gris debajo del campo de entrada */
    padding-bottom: 5px;
    /* Espacio entre el texto y la línea */
}

ion-button {
    width: 70%; 
    max-width: 400px;
    margin: 20px auto; 
    font-family: 'Helvetica', sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 50px; 
    display: block; 
    text-align: center; 
    border-radius: 25px; 
    /* Quitar cualquier estilo de fondo o color que pueda interferir */
    --background: none;
    --color: inherit;
}

.boton-enviar-enlace {
    background: linear-gradient(145deg, #3dc2ff, #36a2e4); 
    border-radius: 50px; /* Bordes redondeados igual que los otros botones */
    box-shadow: 0 4px 8px rgba(61, 194, 255, 0.5), 0 -4px 8px rgba(54, 162, 228, 0.5); 
    color: white; 
    width: 200px; 
    --height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    border: none;
    padding: 0; 
    overflow: hidden; 
    margin: 5px auto; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .boton-enviar-enlace:hover {
    background: linear-gradient(145deg, #36a2e4, #2b89c7);
    transform: scale(1.05);
  }
  .boton-enviar-enlace:active,
  .boton-enviar-enlace:focus {
    background: linear-gradient(145deg, #36a2e4, #2b89c7); 
  }
  .boton-enviar-enlace::before {
    content: '';
    position: absolute;
    top: 3px; 
    left: 3px; 
    right: 3px; 
    bottom: 3px; 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    border-radius: 45px; 
    z-index: 1; 
    background: transparent;
  }
  
  .boton-enviar-enlace::after {
    content: '';
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    position: absolute;
    left: 40px; 
    bottom: 10px; 
    z-index: 2;
  }