<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!--Retroceder a la vista anterior-->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Perfil Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <!-- Card para el Perfil del Usuario -->
  <ion-card class="card-background">
    <!-- Avatar (Sin opción para cambiar) -->
    <ion-card-header>
      <div class="avatar-container">
        <img [src]="avatar" alt="Avatar del usuario" class="avatar" />
      </div>
      <ion-button expand="full"  class="boton-azul" (click)="onSelectFile()">Subir Nueva Foto</ion-button>
    </ion-card-header>
    
    

    <!-- Información del Usuario -->
    <ion-card-content>
      <ion-item>
        <ion-label><strong>• Nombre:</strong> {{nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>• Teléfono:</strong> {{telefono}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>• Email:</strong> {{email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>• Tipo de Usuario:</strong> {{tipoUsuario}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <!-- Botón para editar perfil -->
  <ion-button expand="block" class="boton-azul" (click)="editarPerfil()">Editar Perfil</ion-button>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
