<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/sebastian.jpeg" />
    <ion-card-header>
      <ion-card-title>Nombre Usuario</ion-card-title>
      <ion-card-subtitle>Detalles del usuario</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      algun detalle del usuario.
    </ion-card-content>
    <ion-button fill="clear" routerLink="/iniciar-sesion">cerrar sesion</ion-button>
  <ion-button fill="clear">Ajustes</ion-button>
  </ion-card>
</ion-content>
