<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!--Retroceder a la vista anterior-->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
      <h2 class="titulo">Detalles de la ruta creada</h2><br>
  <div class="color-letter" *ngIf="ruta">
    <h3 class="sub-titulo">Detalle del viaje:</h3>
    <p><strong> • Origen:</strong> {{ ruta.origen }}</p>
    <p><strong> • Destino:</strong> {{ ruta.destino }}</p>
    <p><strong> • Precio:</strong> {{ ruta.precio }}</p>
    <p><strong> • Conductor:</strong> {{ ruta.conductor }}</p>
    <p><strong> • Hora Salida:</strong> {{ ruta.hora }}</p>
    <p><strong> • Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
<br>
    <!-- Información adicional del vehículo -->
    <h3 class="sub-titulo">Detalles del Vehículo:</h3>
    <p><strong> • Patente:</strong> {{ ruta.vehiculo?.patente }}</p>
    <p><strong> • Color:</strong> {{ ruta.vehiculo?.color }}</p>
    <p><strong> • Marca:</strong> {{ ruta.vehiculo?.marca }}</p>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
