<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/registro-exitoso-pasajero"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="condensed-title" size="large">Detalles del Viaje</ion-title>    
    </ion-toolbar>
  </ion-header>

  <div class="color-letter" *ngIf="ruta">
    <h2></h2>
    <p><strong>Origen:</strong> {{ ruta.origen }}</p>
    <p><strong>Destino:</strong> {{ ruta.destino }}</p>
    <p><strong>Precio:</strong> {{ ruta.precio }}</p>
    <p><strong>Conductor:</strong> {{ ruta.conductor }}</p>
    <p><strong>Hora Salida:</strong> {{ ruta.hora }}</p>
    <p><strong>Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>

    <!-- Información adicional del vehículo -->
    <h3>Detalles del Vehículo</h3>
    <p><strong>Patente:</strong> {{ ruta.vehiculo?.patente }}</p>
    <p><strong>Color:</strong> {{ ruta.vehiculo?.color }}</p>
    <p><strong>Marca:</strong> {{ ruta.vehiculo?.marca }}</p>
  </div>
</ion-content>

