<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">{{ esSolicitudPasajero ? 'Detalles de la Solicitud' : 'Detalles del Viaje' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">{{ esSolicitudPasajero ? 'Detalle solicitud de pasajero' : 'Detalles de la ruta creada' }}</h2>
<br>
  <div class="color-letter" *ngIf="ruta">
    <h3 class="sub-titulo">Detalle del viaje:</h3>
    <p><strong>• Origen:</strong> {{ ruta.origen }}</p>
    <p><strong>• Destino:</strong> {{ ruta.destino }}</p>
    <p *ngIf="!esSolicitudPasajero"><strong>• Precio:</strong> {{ ruta.precio }}</p>
    <p *ngIf="!esSolicitudPasajero"><strong>• Conductor:</strong> {{ ruta.conductor }}</p>
    <p><strong>• Hora Salida:</strong> {{ ruta.hora }}</p>
    <p *ngIf="!esSolicitudPasajero"><strong>• Asientos Disponibles:</strong> {{ ruta.AsientosDisponibles }}</p>
  </div>

  <ion-button expand="block" class="boton-azul" (click)="aceptarSolicitud()">
    {{ esSolicitudPasajero ? 'Aceptar solicitud' : 'Tomar viaje' }}
  </ion-button>
  
  <div class="spinner-container" *ngIf="mostrarSpinner">
    <ion-spinner name="lines" class="spinner-grande"></ion-spinner>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
