:root {
    --ion-color-primary: #3880ff; /* Azul por defecto */
    --ion-color-secondary: #3dc2ff; /* Cian */
    --ion-color-tertiary: #440072; /* morado Oscuro */
    --ion-color-success: #2dd36f; /* Verde */
    --ion-color-warning: #ffc409; /* Amarillo */
    --ion-color-danger: #eb445a; /* Rojo */
    --ion-color-dark: #222428; /* Negro */
    --ion-color-medium: #78797b; /* Gris */
    --ion-color-light: #f4f5f8; /* Blanco */
  }
  