/* Estilo para el header principal */
ion-header.custom-header {
  --background: #4e54c8; /* Fondo degradado */
}

/* Estilo para el contenido */
ion-content.background {
  --background: linear-gradient(180deg, #403F51, #403F51 40%, #714dab); /* Degradado de color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between; /* Distribuye el espacio entre los elementos para empujar el icono hacia abajo */
}

/* Estilo para el título del header */
.header-title {
  font-family: system-ui; /* Cambia la fuente */
  color: #ffffff !important; /* Cambia el color del texto */
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centra el texto */
  width: 100%;
  margin: 0; /* Elimina cualquier margen extra */
  display: block; /* Asegura que el título se comporte como un elemento de bloque */
}

/* Contenedor del icono y texto para cambiar de usuario */
.icon-text-container {
  display: flex; /* Alinea los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 10px; /* Espacio entre el icono y el texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  margin-bottom: 20px;
}

/* Estilo para el icono de usuario */
.user-icon {
  font-size: 40px; /* Tamaño del icono de usuario */
  color: white; /* Color del icono */
  padding: 5px; /* Espaciado alrededor del icono */
  border: 2px solid #7636a1; /* Borde alrededor del icono */
  border-radius: 50%; /* Hace el borde redondo */
  background: linear-gradient(90deg, #030303, #121111); /* Fondo degradado similar al botón */
  box-shadow: 0 0 15px #c9c9e8; /* Sombra para el icono */
  transition: all 0.3s ease-in-out;
}

.user-icon:hover {
  background-color: #2822cb; /* Cambio de fondo al pasar el ratón */
  box-shadow: 0 0 20px #228acb;
  transform: scale(1.1); /* Animación al hacer hover */
}

.user-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Estilo para el icono de cierre de sesión */
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el icono y el texto horizontalmente */
  margin-bottom: 20px;
}

.logout-icon {
  margin-top: 200px;
  font-size: 80px; /* Tamaño grande del icono */
  color: white; /* Color del icono */
  padding: 15px; /* Espaciado alrededor del icono */
  border: 2px solid #7636a1; /* Borde alrededor del icono */
  border-radius: 50%; /* Hace el borde redondo */
  background: linear-gradient(90deg, #030303, #121111); /* Fondo degradado similar al botón */
  box-shadow: 0 0 25px #c9c9e8; /* Sombra para el icono */
  transition: all 0.3s ease-in-out;
  cursor: pointer; /* Cambia el cursor al pasar por encima del icono */
}

.logout-icon:hover {
  background-color: #2822cb; /* Cambio de fondo al pasar el ratón */
  box-shadow: 0 0 30px #228acb;
  transform: scale(1.30); /* Animación al hacer hover */
}

.logout-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* Estilo personalizado para el alert */
.custom-alert .alert-button {
  --background: white;
  --color: black;
  --border-radius: 5px;
  transition: background-color 1.0s ease-in-out, color 1.0s ease-in-out;
}

.custom-alert .alert-button.selected-button {
  --background: #4e54c8; /* Color de fondo para la opción seleccionada */
  --color: white; /* Color del texto para la opción seleccionada */
}
