<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="header-title">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <!-- Contenedor horizontal para el texto y el icono -->
  <div class="icon-text-container">
    <p class="user-text">Cambia de Usuario:</p>
    <ion-icon name="person-circle-outline" size="large" class="user-icon" (click)="abrirCambioUsuario()"></ion-icon>
  </div>

  <!-- Icono para cerrar sesión con texto "Salir" -->
  <ion-button expand="block" color="danger" class="boton-salir" (click)="cerrarSesion()">
    <ion-icon slot="start" name="log-out-outline" size="large"></ion-icon>
    Salir
  </ion-button>
  
</ion-content>
