<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button> <!-- Vuelve a la página de inicio si no hay historial -->
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="condensed-title" size="large">Cuenta</ion-title>    
    </ion-toolbar>
  </ion-header>

  <!-- Botón para cerrar sesión -->
  <ion-button expand="block" color="primary" (click)="cerrarSesion()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar sesión
  </ion-button>

  <div class="image-container">
    <img src="assets/images/logout.png" alt="Compartir Auto" class="gradient-image" />
  </div>
</ion-content>
