<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">TIPOS DE USUARIO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background ion-padding" [fullscreen]="true">
  <!-- Contenedor horizontal para el texto y el icono -->
  <div class="icon-text-container">
    <h1 class="titulo">Cambia de Usuario</h1><br>
  </div>

  <!-- Lista para seleccionar el tipo de usuario -->
  <ion-list class="fondo">
    <div class="inline-content">
    </div><br>
    <ion-item class="fondo-2"
      button 
      [ngClass]="{'selected-item': perfil === 'conductor'}" 
      (click)="seleccionarPerfil('conductor')">
            <ion-label>• Usuario Conductor •</ion-label>
    </ion-item>
    <br>
    <div class="inline-content">
  </div><br>
    <ion-item class="fondo-2"
      button 
      [ngClass]="{'selected-item': perfil === 'pasajero'}" 
      (click)="seleccionarPerfil('pasajero')">
      <ion-label>• Usuario Pasajero •</ion-label>
    </ion-item> <br>
  </ion-list>
<br><br><br><br>
  <!-- Boton para confirmar la seleccion -->
  <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="confirmarPerfil()">Siguiente<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button><br>
<br><br>
  <!-- Icono para cerrar sesión con texto "Salir" -->
  <ion-button expand="block" color="danger" class="boton-tono-especial" (click)="cerrarSesion()">
    <ion-icon slot="start" name="log-out-outline" size="large"></ion-icon>Cerrar Sesion<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>  
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
