<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button class="letra" (click)="goToCuenta()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-header">Conductor</ion-title>
    <ion-buttons slot="end">
      <ion-button class="letra" (click)="goToUserProfile()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background ion-padding">
  <h2 class="titulo">¡Bienvenido a TeLlevoApp!</h2><br>
  <h1 class="sub-titulo">Comparte tu auto y disfruta del viaje acompañado:</h1>

  <div class="image-container">
    <img src="assets/images/car-sharing.png" alt="Compartir Auto" class="gradient-image" />
  </div>

  <p class="welcome-message">
    ¡Vamos! Crea tu ruta de viaje...
  </p>

  <div class="button-container">
    <ion-button expand="block" class="boton-azul" (click)="createTrip()">Crear Viaje</ion-button>
    <ion-button expand="block" class="boton-ver-rutas" (click)="verTusRutas()">Ver tus Rutas</ion-button>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>
