/* Estilo para el header principal */
ion-header.custom-header {
  --background: #4e54c8; /* Fondo degradado */
}

/* Estilo para el contenido */
ion-content.background {
  --background: linear-gradient(180deg, #403F51, #403F51 40%, #714dab); /* Degradado de color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

ion-header[collapse="condense"] ion-toolbar {
  --background: transparent; /* Fondo transparente para el toolbar */
  text-align: center; /* Centra el texto dentro del ion-toolbar */
}

/* Estilo para el título grande */
.condensed-title {
  font-family: system-ui; /* Cambia la fuente */
  color: #ffffff !important; /* Cambia el color del texto */
  font-size: 2.5rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que el título ocupe todo el ancho */
  margin: 0; /* Elimina cualquier margen extra */
  display: block; /* Asegura que el título se comporte como un elemento de bloque */
}

.welcome-message {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  font-family: 'Helvetica', sans-serif;
}

/* Contenedor para los botones */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones */
  gap: 05px; /* Espacio entre los botones */
  margin-top: 20px;
}

/* Estilo para los botones */
ion-button {
  width: 70%; /* Ancho del botón, ajustable según tu preferencia */
  max-width: 400px;
  margin: 20px auto; /* Centra el botón horizontalmente */
  font-family: 'Helvetica', sans-serif;
  font-size: larger;
  font-weight: bold;
  height: 50px; /* Mantén el tamaño del botón */
  display: block; /* Asegura que se centre correctamente */
  text-align: center; /* Centra el contenido del botón */
  border-radius: 25px; /* Valor ajustado para redondear extremos */
  /* Quitar cualquier estilo de fondo o color que pueda interferir */
  --background: none;
  --color: inherit;
}

/* Estilo para la imagen con degradado en los bordes */
.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.gradient-image {
  width: 100%;
  max-width: 250px; /* Ajusta el tamaño máximo de la imagen */
  border-radius: 40px; /* Redondea los bordes */
  mask-image: radial-gradient(circle, white 20%, transparent 100%); /* Aplica una máscara de degradado circular */
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}
.mensaje-compartir {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  font-family: 'Helvetica', sans-serif;
}


.boton-crear-viaje {
  background: linear-gradient(145deg, #5d3b93, #6531b9); /* Fondo degradado basado en color cian */
  border-radius: 50px; /* Bordes redondeados igual que los otros botones */
  box-shadow: 0 4px 8px rgba(61, 194, 255, 0.5), 0 -4px 8px rgba(54, 162, 228, 0.5); /* Sombra alrededor del botón */
  color: white; /* Color del texto */
  width: 200px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; /* Necesario para los detalles adicionales */
  border: none; /* Quita cualquier borde por defecto */
  padding: 0; /* Quita el padding por defecto */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  margin: 5px auto; /* Reduce el margen entre botones */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}
.boton-crear-viaje:hover {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Fondo más oscuro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.boton-crear-viaje:active,
.boton-crear-viaje:focus {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Mantiene el color en hover cuando está activo */
}
.boton-crear-viaje:before {
  content: '';
  position: absolute;
  top: 3px; /* Ajusta para controlar el grosor de la línea negra */
  left: 3px; /* Ajusta para controlar el grosor de la línea negra */
  right: 3px; /* Ajusta para controlar el grosor de la línea negra */
  bottom: 3px; /* Ajusta para controlar el grosor de la línea negra */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Línea negra interna */
  border-radius: 45px; /* Ajusta el radio del borde interno */
  z-index: 1; /* Coloca el borde interno detrás del contenido del botón */
  background: transparent; /* Fondo transparente para evitar cualquier efecto visual no deseado */
}
.boton-crear-viaje::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); /* Color de la barra de progreso */
  border-radius: 5px;
  position: absolute;
  left: 40px; /* Ajusta según tu diseño */
  bottom: 10px; /* Ajusta según tu diseño */
  z-index: 2; /* Coloca la barra de progreso por encima del borde interno */
}

.boton-ver-rutas {
  background: linear-gradient(145deg, #5d3b93, #6531b9); /* Fondo degradado basado en color cian */
  border-radius: 50px; /* Bordes redondeados igual que los otros botones */
  box-shadow: 0 4px 8px rgba(61, 194, 255, 0.5), 0 -4px 8px rgba(54, 162, 228, 0.5); /* Sombra alrededor del botón */
  color: white; /* Color del texto */
  width: 200px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; /* Necesario para los detalles adicionales */
  border: none; /* Quita cualquier borde por defecto */
  padding: 0; /* Quita el padding por defecto */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  margin: 5px auto; /* Reduce el margen entre botones */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}
.boton-ver-rutas:hover {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Fondo más oscuro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.boton-ver-rutas:active,
.boton-ver-rutas:focus {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Mantiene el color en hover cuando está activo */
}
.boton-ver-rutas:before {
  content: '';
  position: absolute;
  top: 3px; /* Ajusta para controlar el grosor de la línea negra */
  left: 3px; /* Ajusta para controlar el grosor de la línea negra */
  right: 3px; /* Ajusta para controlar el grosor de la línea negra */
  bottom: 3px; /* Ajusta para controlar el grosor de la línea negra */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Línea negra interna */
  border-radius: 45px; /* Ajusta el radio del borde interno */
  z-index: 1; /* Coloca el borde interno detrás del contenido del botón */
  background: transparent; /* Fondo transparente para evitar cualquier efecto visual no deseado */
}
.boton-ver-rutas::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); /* Color de la barra de progreso */
  border-radius: 5px;
  position: absolute;
  left: 40px; /* Ajusta según tu diseño */
  bottom: 10px; /* Ajusta según tu diseño */
  z-index: 2; /* Coloca la barra de progreso por encima del borde interno */
}