/* Estilo para el header principal */
ion-toolbar.custom-toolbar {
  --background: #B5B8BF; 
  color: var(--ion-color-primary-contrast); 
  text-align: center;
}
ion-back-button.letra {
  font-weight: bold;
}
ion-title.titulo-header {
  --color: #2F2E2E;
}
  
/* Estilo para el contenido */
ion-content.background {
  --background: #EEF1FB; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1; 
}
  
/* Aplica un color de fondo al header cuando se colapsa */
ion-header[collapse="fade"] ion-toolbar {
  --background: var(--ion-color-primary); 
  color: var(--ion-color-primary-contrast); 
}

/*Estilos del titulo y subtitulo*/
.titulo {
  font-family: system-ui; 
  color: #2F2E2E !important; 
  font-size: 2.5rem; 
  font-weight: bold; 
  text-align: center; 
  width: 100%; 
  margin: 0; 
  display: block; 
}
.sub-titulo{
  font-family: system-ui; 
  color: #2F2E2E !important; 
  font-size: 1.2rem; 
  font-weight: bold; 
  text-align: left;
  width: 100%;
  margin: 0; 
  display: block;
}

/* Estilo para el item seleccionado */
.selected-item {
    --background: #81a9ee !important; 
    color: white !important; 
    font-weight: bold; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

/* Estilos del botón genéricos */
ion-button {
    width: 70%; 
    max-width: 400px;
    margin: 20px auto; 
    font-family: 'Helvetica', sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 50px; 
    display: block; 
    text-align: center; 
    border-radius: 25px; 
    --background: none;
    --color: inherit;
    border: none;
    box-shadow: none;
}

/* Estilos especiales para el botón azul (Siguiente) */
.boton-azul {
    background: linear-gradient(145deg, #7B5BF2, #6A4ED9); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(123, 91, 242, 0.5), 0 -4px 8px rgba(106, 78, 217, 0.5);
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    border: none;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.boton-azul:hover {
    background: linear-gradient(145deg, #6A4ED9, #5C3EB8);
    transform: scale(1.05);
}
.boton-azul:active,
.boton-azul:focus {
    background: linear-gradient(145deg, #6A4ED9, #5C3EB8);
}
.boton-azul::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 2px solid rgb(90, 89, 89);
    border-radius: 45px;
    z-index: 1;
    background: transparent;
}
.boton-azul::after {
    content: '';
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    position: absolute;
    left: 40px;
    bottom: 10px;
    z-index: 2;
}

/* Contenedor para alinear los elementos en la misma línea */
.inline-content {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px;
    width: 100%;
}
  
/* Estilo para los párrafos */
.parrafos {
    font-family: system-ui;
    color: #969696 !important;
    font-size: 1rem;
    font-weight: bold; 
    text-align: left; 
    margin: 0;
  }
  
/* Estilo para los íconos */
ion-icon.parrafos {
    color: #969696 !important;
    font-size: 1.5rem; 
}

/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
    --background: #09184D; 
    padding: 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 10; 
  }
  
  /* Estilo para la toolbar del footer */
  .footer-toolbar {
    --background: #09184D; 
    padding: 0; 
    text-align: center; 
    color: var(--ion-color-primary-contrast);
  }
  
  /* Estilo para el mensaje del footer */
  .footer-message p {
    color: var(--ion-color-primary-contrast); 
    font-size: 0.9rem;
    margin: 0; 
    font-family: 'Helvetica', sans-serif; 
  }