/* Estilo para el header principal */
ion-toolbar.custom-toolbar {
  position: relative;
  background: #FFB800 !important; /* Asegura que el fondo sea completamente naranja */
  height: 50px; /* Ajusta la altura según lo necesario */
  overflow: hidden;
  z-index: 2; /* Asegura que esté sobre otros elementos */
  opacity: 1; /* Verifica que la opacidad esté al 100% */
}

/* Pseudo-elemento para la separación diagonal */
ion-toolbar.custom-toolbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; /* Ajusta este valor para controlar el ancho de la parte negra */
  height: 100%;
  background-color: #000000; /* Color negro para la sección diagonal */
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  z-index: 1;
  opacity: 1; /* Asegúrate de que no haya opacidad */
}

ion-back-button.letra {
  font-weight: bold;
}
ion-title.titulo-header {
  --color: #ffffff;
}

/* ------------------------------------------------------------------- */

/* Estilo para el contenido */
ion-content.background {
  --background: #E1E0DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1; /* Permite que el contenido crezca y ocupe todo el espacio */
  height: 100%; /* Asegura que ocupe todo el alto */
  margin: 0; /* Elimina márgenes adicionales */
  min-height: calc(100vh - 50px - 50px); /* Ajusta la altura considerando el header y el footer */
}
  
ion-header.custom-header,
ion-footer.custom-footer {
  height: 50px; /* Ajusta la altura según lo necesario */
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
}

/* ------------------------------------------------------------------- */

/*Estilos del titulo y subtitulo*/
.titulo {
  font-family: system-ui; 
  color: #2F2E2E !important; 
  font-size: 2.5rem; 
  font-weight: bold; 
  text-align: center; 
  width: 100%; 
  margin: 0; 
  display: block; 
}
.sub-titulo{
  font-family: system-ui; 
  color: #2F2E2E !important; 
  font-size: 1.2rem; 
  font-weight: bold; 
  text-align: left;
  width: 100%;
  margin: 0; 
  display: block;
}

/* ------------------------------------------------------------------- */

/* Estilo para el item seleccionado */
.selected-item {
    --background: #FFB800 !important; 
    color: rgb(29, 27, 27) !important; 
    font-weight: bold; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

ion-list.fondo {
  background: #464741
}

ion-item.fondo-2 {
  --background: #464741;
}
/* ------------------------------------------------------------------- */

/* Estilos del botón genéricos */
ion-button {
  width: 50%; 
  max-width: 200px;
  margin: 20px auto; 
  font-family: 'Helvetica', sans-serif; 
  font-size: larger;
  height: 50px; 
  display: block; 
  text-align: center; 
  border-radius: 25px; 
  /*Quitar cualquier estilos de fondo o colores que puedan interferir*/
  --background: none;
  --color: inherit;
}

/*Estilos propios del boton:*/
.boton-tono-especial {  
  border-radius: 50px; 
  color: #ffffff !important; 
  --color: #ffffff !important; // Añadir color a las letras
  width: 200px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none; 
  padding: 0; 
  overflow: hidden; 
  margin: 5px auto; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.boton-tono-especial::before {
  content: '';
  position: absolute;
  top: 3px; 
  left: 3px; 
  right: 3px; 
  bottom: 3px; 
  border: 2px solid #fdfdfc; // Cambiar el color de las líneas internas a naranja
  border-radius: 45px; 
  z-index: 1; 
  background: transparent; 
}

.boton-tono-especial::after {
  content: '';
  width: 40px;
  height: 5px;
  background: #fdfdfc; // Cambiar la línea inferior a naranja
  border-radius: 5px;
  position: absolute;
  left: 40px; 
  bottom: 10px;
  z-index: 2; 
}

/* Contenedor para alinear los elementos en la misma línea */
.inline-content {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px;
    width: 100%;
}
  
/* Estilo para los párrafos */
.parrafos {
    font-family: system-ui;
    color: #969696 !important;
    font-size: 1rem;
    font-weight: bold; 
    text-align: left; 
    margin: 0;
  }

/* ------------------------------------------------------------------- */
  
/* Estilo para los íconos */
ion-icon.parrafos {
    color: #969696 !important;
    font-size: 1.5rem; 
}

/* ------------------------------------------------------------------- */

/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
  padding: 0; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
}
/* Estilo para la toolbar del footer */
.footer-toolbar {
  --background: #000000; 
  padding: 0; 
  text-align: center;
}

/* Estilo para el mensaje del footer */
.footer-message p {
  color: #FFB800; 
  font-size: 0.9rem; 
  margin: 0; 
  font-family: 'Helvetica', sans-serif; 
}