<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de retroceso alineado a la izquierda -->
    <ion-buttons slot="start">
      <!-- Botón de retroceso que vuelve a la página anterior -->
      <ion-back-button defaultHref="/registro-exitoso" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Programar un Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <form (ngSubmit)="guardarViaje()">
    <!-- Campo Origen -->
    <ion-item>
      <ion-label position="stacked">Origen</ion-label>
      <ion-input [(ngModel)]="nuevoViaje.origen" name="origen"></ion-input>
    </ion-item>

    <!-- Campo Destino -->
    <ion-item>
      <ion-label position="stacked">Destino</ion-label>
      <ion-input [(ngModel)]="nuevoViaje.destino" name="destino"></ion-input>
    </ion-item>

    <!-- Campo Fecha de Salida -->
    <ion-item>
      <ion-label position="stacked">Fecha de Salida</ion-label>
      <ion-input type="date" [(ngModel)]="nuevoViaje.fecha" name="fecha" placeholder="DD/MM/YYYY"></ion-input>
    </ion-item>

    <!-- Campo Hora de Salida -->
    <ion-item>
      <ion-label position="stacked">Hora de Salida</ion-label>
      <ion-input type="time" [(ngModel)]="nuevoViaje.hora" name="hora" placeholder="HH:mm"></ion-input>
    </ion-item>

    <!-- Campo Precio -->
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.precio" name="precio"></ion-input>
    </ion-item>

    <!-- Campo Asientos Disponibles -->
    <ion-item>
      <ion-label position="floating">Asientos Disponibles</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.asientos" name="asientos"></ion-input>
    </ion-item>

    <!-- Botón Guardar -->
    <ion-button expand="block" type="submit" color="success" class="guardar-viaje">Guardar Viaje</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-footer>
