<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!--Retroceder a la vista anterior-->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Programar un viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Crea una nueva ruta</h2>
  <form (ngSubmit)="guardarViaje()">
    <!--Campos de la ruta-->
    <ion-item>
      <ion-label position="stacked">• Origen</ion-label>
      <ion-input [(ngModel)]="nuevoViaje.origen" name="origen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">• Destino</ion-label>
      <ion-input [(ngModel)]="nuevoViaje.destino" name="destino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">• Fecha de Salida</ion-label>
      <ion-input type="date" [(ngModel)]="nuevoViaje.fecha" name="fecha" placeholder="DD/MM/YYYY"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">• Hora de Salida</ion-label>
      <ion-input type="time" [(ngModel)]="nuevoViaje.hora" name="hora" placeholder="HH:mm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">• Precio</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.precio" name="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">• Asientos Disponibles</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.asientos" name="asientos"></ion-input>
    </ion-item>

    <!--Boton Guardar viaje-->
    <ion-button expand="block" type="submit" color="success" class="guardar-viaje">Guardar Viaje</ion-button>
  </form>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>