<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">PROGRAMAR VIAJE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Crea una nueva ruta</h2>
  <form (ngSubmit)="guardarViaje()">
    <!-- Selección de Comuna Origen -->
    <ion-item class="form-item"> 
      <ion-label position="stacked">• Comuna Origen / Sede:</ion-label>
      <ion-select [(ngModel)]="nuevoViaje.origen" name="origen">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.nombre">
          {{ comuna.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selección de Comuna Destino -->
    <ion-item class="form-item">
      <ion-label position="stacked">• Comuna Destino:</ion-label>
      <ion-select [(ngModel)]="nuevoViaje.destino" name="destino">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.nombre">
          {{ comuna.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fecha y Hora de Salida -->
    <ion-item class="form-item">
      <ion-label position="stacked">• Fecha y Hora de Salida</ion-label>
      <ion-datetime 
        [(ngModel)]="nuevoViaje.fechaHora" 
        name="fechaHora" 
        displayFormat="DD/MM/YYYY HH:mm" 
        placeholder="Selecciona fecha y hora" 
        presentation="date-time" 
        [preferWheel]="true">
      </ion-datetime>
    </ion-item>

    <!-- Precio -->
    <ion-item class="form-item">
      <ion-label position="stacked">• Precio</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.precio" name="precio"></ion-input>
    </ion-item>

    <!-- Asientos Disponibles -->
    <ion-item class="form-item">
      <ion-label position="stacked">• Asientos Disponibles</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoViaje.asientos" name="asientos"></ion-input>
    </ion-item>

    <!-- Botón para Guardar el Viaje -->
    <ion-button expand="block" type="submit" color="dark" class="boton-tono-especial">
      Guardar Viaje<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </form>
</ion-content>


<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
</ion-footer>
