<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">CANCELACION DE VIAJE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <h2 class="titulo">Indica el motivo de la cancelacion</h2><br>
  <!-- Grupo de radios para seleccionar el motivo de cancelación -->
  <ion-list class="fondo-entre-items">
    <ion-radio-group [(ngModel)]="selectedMotivo" (ionChange)="onMotivoSelected($event)">
      <ion-item class="form-item" [ngClass]="{'selected-item': selectedMotivo === 'Motivo_1'}" button>
        <ion-label>• Imprevisto familiar</ion-label>
        <ion-radio slot="start" value="Motivo_1" class="custom-radio"></ion-radio>
      </ion-item>

      <ion-item class="form-item" [ngClass]="{'selected-item': selectedMotivo === 'Motivo_2'}" button>
        <ion-label>• Problemas con la autoridad</ion-label>
        <ion-radio slot="start" value="Motivo_2" class="custom-radio"></ion-radio>
      </ion-item>

      <ion-item class="form-item" [ngClass]="{'selected-item': selectedMotivo === 'Motivo_3'}" button>
        <ion-label>• Fallas mecánicas</ion-label>
        <ion-radio slot="start" value="Motivo_3" class="custom-radio"></ion-radio>
      </ion-item>

      <ion-item class="form-item" [ngClass]="{'selected-item': selectedMotivo === 'Motivo_4'}" button>
        <ion-label>• Inseguridad en la ruta</ion-label>
        <ion-radio slot="start" value="Motivo_4" class="custom-radio"></ion-radio>
      </ion-item>
      <br><br>
    </ion-radio-group>

    <!-- Checkbox para enviar correo de cancelación -->
    <ion-item class="form-item">
      <ion-label>Enviar mail de cancelación a pasajero por cancelación de ruta</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="enviarEmail" (ionChange)="onEmailToggle($event)" class="custom-checkbox">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botón para confirmar la cancelación del viaje -->
  <ion-button expand="block" class="boton-confirmar-cancelacion" color="danger"
    (click)="confirmarCancelacion()">Confirmar Cancelación<ion-icon name="chevron-forward-outline"
      slot="end"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>