/* Estilo para el header principal */
ion-toolbar.custom-toolbar {
    --background: #B5B8BF; 
    color: var(--ion-color-primary-contrast); 
    text-align: center;
  }
  ion-back-button.letra {
    font-weight: bold;
  }
  ion-title.titulo-header {
    --color: #2F2E2E;
  }
    
  /* Estilo para el contenido */
  ion-content.background {
    --background: #EEF1FB; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1; 
  }

/*Estilos del titulo y subtitulo*/
.titulo {
    font-family: system-ui; 
    color: #2F2E2E !important; 
    font-size: 2.0rem; 
    font-weight: bold; 
    text-align: center; 
    width: 100%; 
    margin: 0; 
    display: block; 
  }  

/* configuracion general para el ion-button */
ion-button {
    width: 70%; 
    max-width: 400px;
    margin: 20px auto; 
    font-family: 'Helvetica', sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 50px; 
    display: block; 
    text-align: center;
    border-radius: 25px; 
    /* Quitar cualquier estilo de fondo o color que pueda interferir */
    --background: none;
    --color: inherit;
}

/* Estilos especiales para el boton-cerrar-sesion */
.boton-confirmar-cancelacion {
    background: linear-gradient(145deg, #ff4c4c, #e60000); 
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5), 0 -4px 8px rgba(230, 0, 0, 0.5); 
    color: white; 
    width: 200px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    border: none; 
    padding: 0; 
    overflow: hidden; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.boton-confirmar-cancelacion:hover {
    background: linear-gradient(145deg, #e60000, #cc0000); 
    transform: scale(1.05); 
}
.boton-confirmar-cancelacion:active,
.boton-confirmar-cancelacion:focus {
    background: linear-gradient(145deg, #e60000, #cc0000); 
}
.boton-confirmar-cancelacion::before {
    content: '';
    position: absolute;
    top: 3px; 
    left: 3px; 
    right: 3px; 
    bottom: 3px; 
    border: 2px solid rgb(90, 89, 89);
    border-radius: 45px; 
    z-index: 1; 
    background: transparent; 
}
.boton-confirmar-cancelacion::after {
    content: '';
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
    position: absolute;
    left: 40px; 
    bottom: 10px; 
    z-index: 2; 
}

/* Estilo personalizado para los radio buttons */
ion-radio {
    --size: 25px; 
    --border-width: 2px; 
    --border-color: #0b0b0b; 
    --background: #0b0b0b; 
    --color-checked: rgb(246, 1, 1); 
}
  
  /* Estilo del contenedor del radio button para hacerlo más grande */
  ion-radio::part(container) {
    width: 30px; 
    height: 30px;
    border: 2px solid #0b0b0b; 
    border-radius: 50%; 
  }
  
  /* Ajusta el tamaño y color del punto interior del radio button cuando está seleccionado */
  ion-radio::part(marking) {
    width: 20px;
    height: 20px;
    background-color: #0b0b0b; 
  }
  
  /* Estilo personalizado para los checkboxes */
  ion-checkbox {
    --size: 25px; 
    --border-width: 2px; 
    --border-color: #0b0b0b; 
    --background: #0b0b0b; 
    --checkmark-color: white; 
  }
  
  /* Ajusta el tamaño del contenedor del checkbox */
  ion-checkbox::part(container) {
    width: 30px;
    height: 30px;
    border: 2px solid #0b0b0b; 
    border-radius: 4px;
  }
  
  

/* Estilo personalizado para el checkbox */
.custom-checkbox {
    --size: 25px; 
    --border-radius: 50px; 
    --border-width: 2px; 
    --border-color: #7B5BF2;
    --background: #7B5BF2; 
    --checkmark-color: white; 
}  
/* Ajuste del label dentro de ion-item */
ion-item {
    --inner-padding-end: 0; 
    display: flex;
    align-items: center;
}  
/* Ajuste para la visualización del checkbox */
ion-checkbox::part(container) {
    width: var(--size);
    height: var(--size);
}

/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
    --background: #09184D; 
    height: 50px; 
    padding: 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 10; 
  }
  
  /* Estilo para la toolbar del footer */
  .footer-toolbar {
    --background: #09184D; 
    padding: 0; 
    text-align: center;
    color: var(--ion-color-primary-contrast); 
  }
  
  /* Estilo para el mensaje del footer */
  .footer-message p {
    color: var(--ion-color-primary-contrast); 
    font-size: 0.9rem; 
    margin: 0;
    font-family: 'Helvetica', sans-serif; 
  }
