/* Estilo para el header principal */
ion-toolbar.custom-toolbar {
  --background: #B5B8BF; /* Fondo del toolbar */
  color: var(--ion-color-primary-contrast); /* Color del texto en el toolbar */
  text-align: center;
}

ion-title.titulo {
  --color: #2F2E2E;
}
  
/* Estilo para el contenido */
ion-content.background {
  --background: #EEF1FB; /* Fondo claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1; /* Permite que el contenido crezca para llenar el espacio disponible */
}
  
/* Aplica un color de fondo al header cuando se colapsa */
ion-header[collapse="fade"] ion-toolbar {
  --background: var(--ion-color-primary); /* Fondo del menú */
  color: var(--ion-color-primary-contrast); /* Color del texto en el toolbar */
}

/* Estilo para el título grande cuando el header colapsa */
.condensed-title {
  font-family: system-ui;
  color: var(--ion-color-primary-contrast); /* Color de contraste (blanco) */
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: block;
}
  
/* Configuración general para los botones */
ion-button {
  width: 70%; /* Ancho del botón, ajustable según tu preferencia */
  max-width: 400px;
  margin: 20px auto; /* Centra el botón horizontalmente */
  font-family: 'Helvetica', sans-serif;
  font-size: larger;
  font-weight: bold;
  height: 50px; /* Mantén el tamaño del botón */
  display: block; /* Asegura que se centre correctamente */
  text-align: center; /* Centra el contenido del botón */
  border-radius: 25px; /* Valor ajustado para redondear extremos */
  --background: none; /* Fondo transparente para quitar el color de fondo */
  --color: inherit; /* Color del texto */
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina cualquier sombra */
}

/* Estilos especiales para el botón editar viaje */
.boton-editar-viaje {
  background: linear-gradient(145deg, #7B5BF2, #6A4EE0); /* Fondo degradado para botón editar */
  color: var(--ion-color-primary-contrast); /* Color del texto (blanco) */
  border-radius: 50px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(123, 91, 242, 0.5), 0 -4px 8px rgba(106, 78, 224, 0.5); /* Sombra alrededor del botón */
  width: 200px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; /* Necesario para los detalles adicionales */
  border: none; /* Quita cualquier borde por defecto */
  padding: 0; /* Quita el padding por defecto */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}
.boton-editar-viaje:hover {
  background: linear-gradient(145deg, #6A4EE0, #5A41CC); /* Fondo más claro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.boton-editar-viaje:active,
.boton-editar-viaje:focus {
  background: linear-gradient(145deg, #6A4EE0, #5A41CC); /* Fondo más oscuro cuando está activo */
}
.boton-editar-viaje::before {
  content: '';
  position: absolute;
  top: 3px; /* Ajusta para controlar el grosor de la línea negra */
  left: 3px; /* Ajusta para controlar el grosor de la línea negra */
  right: 3px; /* Ajusta para controlar el grosor de la línea negra */
  bottom: 3px; /* Ajusta para controlar el grosor de la línea negra */
  border: 2px solid rgb(90, 89, 89); /* Línea negra interna */
  border-radius: 45px; /* Ajusta el radio del borde interno */
  z-index: 1; /* Coloca el borde interno detrás del contenido del botón */
  background: transparent; /* Fondo transparente para evitar cualquier efecto visual no deseado */
}
.boton-editar-viaje::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); /* Color de la barra de progreso */
  border-radius: 5px;
  position: absolute;
  left: 40px; /* Ajusta según tu diseño */
  bottom: 10px; /* Ajusta según tu diseño */
  z-index: 2; /* Coloca la barra de progreso por encima del borde interno */
}

/* Estilos especiales para el botón cancelar viaje */
.boton-cancelar-viaje {
  background: linear-gradient(145deg, #ff4c4c, #e60000); /* Fondo degradado basado en rojo vibrante */
  color: var(--ion-color-primary-contrast); /* Color de contraste del texto (blanco) */
  border-radius: 50px; /* Bordes redondeados igual que el botón "Salir" */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5), 0 -4px 8px rgba(230, 0, 0, 0.5); /* Sombra alrededor del botón */
  width: 200px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; /* Necesario para los detalles adicionales */
  border: none; /* Quita cualquier borde por defecto */
  padding: 0; /* Quita el padding por defecto */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}
.boton-cancelar-viaje:hover {
  background: linear-gradient(145deg, #e60000, #cc0000); /* Fondo más claro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.boton-cancelar-viaje:active,
.boton-cancelar-viaje:focus {
  background: linear-gradient(145deg, #e60000, #cc0000); /* Fondo más oscuro cuando está activo */
}
.boton-cancelar-viaje::before {
  content: '';
  position: absolute;
  top: 3px; /* Ajusta para controlar el grosor de la línea negra */
  left: 3px; /* Ajusta para controlar el grosor de la línea negra */
  right: 3px; /* Ajusta para controlar el grosor de la línea negra */
  bottom: 3px; /* Ajusta para controlar el grosor de la línea negra */
  border: 2px solid rgb(90, 89, 89); /* Línea negra interna */
  border-radius: 45px; /* Ajusta el radio del borde interno */
  z-index: 1; /* Coloca el borde interno detrás del contenido del botón */
  background: transparent; /* Fondo transparente para evitar cualquier efecto visual no deseado */
}
.boton-cancelar-viaje::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); /* Color de la barra de progreso */
  border-radius: 5px;
  position: absolute;
  left: 40px; /* Ajusta según tu diseño */
  bottom: 10px; /* Ajusta según tu diseño */
  z-index: 2; /* Coloca la barra de progreso por encima del borde interno */
}

/* Estilo para la imagen con bordes circulares, degradado y sombreado */
.imagen-rutas {
  width: 90%; /* Ajusta la imagen al ancho completo del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  border-radius: 50%; /* Aplica bordes circulares a la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra alrededor de los bordes */
  background: linear-gradient(145deg, var(--ion-color-secondary), var(--ion-color-secondary-tint)); /* Degradado de fondo */
  padding: 5px; /* Añade un poco de espacio alrededor de la imagen para el degradado */
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin: 20px auto; /* Centra la imagen horizontalmente con margen superior e inferior */
}

/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
  --background: #09184D; /* Color del fondo del footer igual al menú */
  height: 50px; /* Ajusta la altura del footer */
  padding: 0; /* Elimina cualquier relleno adicional */
  position: fixed; /* Fija el footer al fondo de la página */
  bottom: 0; /* Alinea el footer al fondo de la página */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  display: flex; /* Flexbox para alinear el contenido */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  z-index: 10; /* Asegura que el footer esté siempre en la parte superior */
}
/* Estilo para la toolbar del footer */
.footer-estilo {
  --background: #09184D;
  padding: 0; /* Sin relleno */
  text-align: center; /* Centra el texto */
  color: var(--ion-color-primary-contrast); /* Color de texto de contraste (blanco) */
}
/* Estilo para el mensaje del footer */
.footer-message p {
  color: var(--ion-color-primary-contrast); /* Color del texto del mensaje (blanco) */
  font-size: 0.9rem; /* Tamaño de la fuente */
  margin: 0; /* Sin margen adicional */
  font-family: 'Helvetica', sans-serif; /* Fuente personalizada */
}
