<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button class="letra" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">GESTIONAR RUTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <!-- Sección de Solicitudes de viaje -->
  <h4><strong>Solicitudes de viaje</strong></h4>
  <div class="scroll-container">
    <ion-list *ngIf="!mostrarSpinner" class="limit-list">
      <ion-item class="form-item" *ngFor="let solicitud of solicitudesViaje; let i = index" 
                (click)="tomarSolicitud(solicitud)" 
                [color]="rutaSeleccionada === solicitud ? 'warning' : ''" 
                [hidden]="i >= 2">
        <ion-label>
          <h2><strong>ORIGEN:</strong> {{ solicitud.origen }} &nbsp;&nbsp; <strong>DESTINO:</strong> {{ solicitud.destino }}</h2>
          <p>Fecha: {{ solicitud.fecha }} | Hora: {{ solicitud.hora }}</p>
          <p>Pasajero: {{ solicitud.pasajeroNombre }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Sección de Mis Viajes Creados -->
  <h4><strong>Mis Viajes Creados</strong></h4>
  <div class="scroll-container">
    <ion-list *ngIf="rutas.length > 0">
      <ion-item class="form-item" *ngFor="let ruta of rutas; let i = index" (click)="toggleRoute(i)" [class.selected]="i === selectedIndex">
        <ion-label>
          <h2>{{ ruta.origen }} - {{ ruta.destino }}</h2>
          <p>{{ ruta.fecha }} a las {{ ruta.hora }} | Precio: {{ ruta.precio }} | Asientos: {{ ruta.asientos }}</p>
        </ion-label>
        
        <!-- Contenedor de los botones "Gestionar" y "Cancelar" en una fila -->
        <div class="boton-container" *ngIf="i === selectedIndex">
          <ion-button color="warning" class="boton-editar-viaje" (click)="editTrip(i)">
            Gestionar</ion-button>
          <ion-button color="danger" class="boton-cancelar-viaje" (click)="cancelTrip(i)">
            Cancelar</ion-button>
        </div>
      </ion-item>   
    </ion-list>
  </div>

  <!-- Botón para crear nueva ruta -->
  <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="crearNuevaRuta()">
    Crear Nueva Ruta<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
