/* Estilo para el fondo de ion-content */
ion-content.home-background {
  --background: linear-gradient(180deg, #403F51, #403F51 40%, #714dab); /* Degradado de color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Contenedor flexible para centrar los elementos */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Contenedor y estilo del logo */
.logo-container {
  margin-top: 20px;
  text-align: center;
}
.logo {
  width: 300px; 
  height: auto;
  max-width: 100vw;
}

/* Estilo del formulario de login */
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilo de los grupos de entrada */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilo de etiquetas de entrada */
.input-label {
  color: #f7f6f8;
  font-family: 'Helvetica', sans-serif;
  margin-right: 10px;
  white-space: nowrap;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

/* Estilo de los campos de entrada */
ion-input {
  --padding-start: 20px;
  --padding-end: 10px;
  --background: #5d3b93; /* Fondo oscuro para el input */
  --color: #d1d1d3;
  --border-radius: 25px;
  --border-width: 2px;
  --height: 50px;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  caret-color: #ffffff;
  --placeholder-color: #d1d1d3;
  --border-color: #d1d1d3;
  border-radius: 20px;
}

/* Ajuste del estado de enfoque para asegurar visibilidad */
ion-input:focus,
ion-input:focus-within {
  --border-color: #ffffff;
  caret-color: #ffffff;
  --background: #5d3b93;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Estilo del placeholder para diferentes navegadores */
.fixed::-webkit-input-placeholder,
.fixed::-moz-placeholder,
.fixed:-ms-input-placeholder,
.fixed::placeholder {
  color: #d1d1d3;
  opacity: 1;
}

/* Estilo para los enlaces */
.link-container {
  text-align: center; 
  margin-top: 20px;
}
.link {
  color: #ffffff;
  text-decoration: none; 
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

/* configuracion general para el ion-button */
ion-button {
  width: 70%; /* Ancho del botón, ajustable según tu preferencia */
  max-width: 400px;
  margin: 20px auto; /* Centra el botón horizontalmente */
  font-family: 'Helvetica', sans-serif;
  font-size: larger;
  font-weight: bold;
  height: 50px; /* Mantén el tamaño del botón */
  display: block; /* Asegura que se centre correctamente */
  text-align: center; /* Centra el contenido del botón */
  border-radius: 25px; /* Valor ajustado para redondear extremos */
  /* Quitar cualquier estilo de fondo o color que pueda interferir */
  --background: none;
  --color: inherit;
}

.boton-tono-especial {
  background: linear-gradient(145deg, #5d3b93, #6531b9); /* Fondo degradado basado en color cian */
  border-radius: 50px; /* Bordes redondeados igual que los otros botones */
  box-shadow: 0 4px 8px rgba(61, 194, 255, 0.5), 0 -4px 8px rgba(54, 162, 228, 0.5); /* Sombra alrededor del botón */
  color: white; /* Color del texto */
  width: 200px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; /* Necesario para los detalles adicionales */
  border: none; /* Quita cualquier borde por defecto */
  padding: 0; /* Quita el padding por defecto */
  overflow: hidden; /* Esconde cualquier desbordamiento */
  margin: 5px auto; /* Reduce el margen entre botones */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}
.boton-tono-especial:hover {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Fondo más oscuro en hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.boton-tono-especial:active,
.boton-tono-especial:focus {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); /* Mantiene el color en hover cuando está activo */
}
.boton-tono-especial::before {
  content: '';
  position: absolute;
  top: 3px; /* Ajusta para controlar el grosor de la línea negra */
  left: 3px; /* Ajusta para controlar el grosor de la línea negra */
  right: 3px; /* Ajusta para controlar el grosor de la línea negra */
  bottom: 3px; /* Ajusta para controlar el grosor de la línea negra */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Línea negra interna */
  border-radius: 45px; /* Ajusta el radio del borde interno */
  z-index: 1; /* Coloca el borde interno detrás del contenido del botón */
  background: transparent; /* Fondo transparente para evitar cualquier efecto visual no deseado */
}
.boton-tono-especial::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); /* Color de la barra de progreso */
  border-radius: 5px;
  position: absolute;
  left: 40px; /* Ajusta según tu diseño */
  bottom: 10px; /* Ajusta según tu diseño */
  z-index: 2; /* Coloca la barra de progreso por encima del borde interno */
}