<ion-content class="home-background ion-padding" fullscreen="true" force-overscroll="false">
  <div class="contenedor-principal">
    <!--Logo corporativo-->
    <div class="logo-container">
      <img src="assets/images/LogoAppGris.png" alt="Logo TeLlevoAPP" class="logo" />
    </div>
    <br><br><br>

    <!--Formulario de Login-->
    <div class="formulario-login">
      <br>
      <div class="input-group">
        <label class="input-label"> Correo:</label>
        <ion-input type="text" class="fixed" [(ngModel)]="nombreUsuario"></ion-input>
      </div>
      <div class="input-group">
        <label class="input-label"> Contraseña:</label>
        <ion-input type="password" class="fixed" [(ngModel)]="contrasena"></ion-input>
      </div>

      <!--Botones para iniciar y crear cuenta-->
      <div class="boton-container">
        <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="iniciarSesion()">INGRESAR<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
        <ion-button expand="block" color="dark" class="boton-tono-especial" (click)="irARegistro()">REGISTRATE</ion-button>
      </div>      

      <!--Enlace reestablecer contraseña-->
      <div class="link-container">
        <a [routerLink]="'/restablecer-contrasena'" class="link">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer-estilo">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-message">
      <p>© 2024 TeLlevoApp. Todos los derechos reservados V.2.0.1.</p>
    </div>
  </ion-toolbar>
</ion-footer>
