<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center" color="primary">BIENVENIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="image-container">
    <img src="assets/images/Diseño_4.png" alt="Estudiantes en viaje" class="image">
  </div>

  <div class="message-container">
    <h1 class="main-message"><strong>¡REGRESA A CASA DE MANERA SEGURA Y SEGURA CON <br>TeLlevoAPP!  </strong></h1>
  </div>

  <div class="register-container">
    <h2>Regístrate y empieza a planificar tu viaje</h2>
    <ion-button expand="block" color="primary">Registrarse</ion-button>
  </div>

</ion-content>