/* Estilos para el header */
ion-header {
  ion-toolbar {
    background-color: #2ee29c; /* Cambia el color de fondo del header */
    
    ion-title {
      color: #FFFFFF; /* Cambia el color del texto del título */
      font-size: 30px; /* Cambia el tamaño de la fuente del título */
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Cambia la fuente del título */
      text-align: center; /* Centra el texto */
    }
  }
}

/* Estilos para los elementos <strong> dentro del contenedor */
#container strong {
  text-align: center; 
  font-size: 20px;
  line-height: 26px;
}

/* Estilos para los elementos <p> dentro del contenedor */
#container p {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.rounded-button {
  --border-radius: 20px; /* Cambia el radio de las esquinas del botón */
}

/* Estilos para el contenedor del ícono y el enlace */
.program-container {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna (verticalmente) */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente en el contenedor */
  margin-top: 20px;
}

.program-icon {
  font-size: 50px; /* Tamaño del ícono */
  margin-bottom: 8px; /* Espacio entre el ícono y el texto */
}

.program-link {
  font-size: 16px; /* Tamaño del texto */
  color: #3880ff; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado */
}


