/*Estilo para el fondo*/
ion-content.home-background {
  --background: #E1E0DD; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*Estilos del logo*/
.logo-container {
  margin-top: 20px;
  text-align: center;
}
.logo {
  width: 300px; 
  height: auto;
  max-width: 100vw;
}

/*Contenedor para centrar los elementos*/
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Estilo del formulario del login*/
.formulario-login {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; 
}

/*Estilo de los grupos de entrada */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilo de etiquetas de entrada */
.input-label {
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  margin-right: 10px;
  white-space: nowrap;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

/* Estilo de los campos de entrada */
ion-input {
  --padding-start: 20px;
  --padding-end: 10px;
  --background: #737668; 
  --color: #FFB800;
  --border-radius: 25px;
  --border-width: 2px;
  --height: 50px;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  caret-color: #ffffff;
  --placeholder-color: #d1d1d3;
  --border-color: #d1d1d3;
  border-radius: 20px;
}

/*Ajuste del estado de enfoque para asegurar visibilidad */
ion-input:focus,
ion-input:focus-within {
  --border-color: #ffffff;
  caret-color: #ffffff;
  --background: #E1E0DD ;
  outline: none;
  box-shadow: 0 0 10px rgba(4, 4, 4, 0.5);
}

/*Compativilidad del placeholder para diferentes navegadores */
.fixed::-webkit-input-placeholder,
.fixed::-moz-placeholder,
.fixed:-ms-input-placeholder,
.fixed::placeholder {
  color: #d1d1d3;
  opacity: 1;
}

/*Estilo del link olvidase tu contraseña*/
.link-container {
  text-align: center; 
  margin-top: 20px;

}
.link {
  color: #07ca21;
  text-decoration: none; 
  font-family: system-ui;
  font-weight: bold;
  font-size: larger;
}

/* Contenedor para alinear los botones en línea */
.boton-container {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 20px; /* Espaciado entre los botones */
  width: 100%; /* Ajusta esto según el espacio disponible */
  max-width: 500px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
}

/*Estilos para el ion-button, heredar a todos los botones*/
ion-button {
  width: 50%; 
  max-width: 200px;
  margin: 20px auto; 
  font-family: 'Helvetica', sans-serif; 
  font-size: larger;
  height: 50px; 
  display: block; 
  text-align: center; 
  border-radius: 25px; 
  /*Quitar cualquier estilos de fondo o colores que puedan interferir*/
  --background: none;
  --color: inherit;
}

/*Estilos propios del boton:*/
/*Boton inicar/crea cuenta*/
.boton-tono-especial {  
  border-radius: 50px; 
  color: #ffffff !important; 
  --color: #ffffff !important; // Añadir color a las letras
  width: 200px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none; 
  padding: 0; 
  overflow: hidden; 
  margin: 5px auto; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.boton-tono-especial::before {
  content: '';
  position: absolute;
  top: 3px; 
  left: 3px; 
  right: 3px; 
  bottom: 3px; 
  border: 2px solid #fdfdfc; // Cambiar el color de las líneas internas a naranja
  border-radius: 45px; 
  z-index: 1; 
  background: transparent; 
}

.boton-tono-especial::after {
  content: '';
  width: 40px;
  height: 5px;
  background: #fdfdfc; // Cambiar la línea inferior a naranja
  border-radius: 5px;
  position: absolute;
  left: 40px; 
  bottom: 10px;
  z-index: 2; 
}


/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
  padding: 0; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
}
/* Estilo para la toolbar del footer */
.footer-toolbar {
  --background: #000000; 
  padding: 0; 
  text-align: center;
}

/* Estilo para el mensaje del footer */
.footer-message p {
  color: #FFB800; 
  font-size: 0.9rem; 
  margin: 0; 
  font-family: 'Helvetica', sans-serif; 
}
