/* Estilo para el header principal */
ion-toolbar.custom-toolbar {
  --background: #B5B8BF; /* Fondo del toolbar */
  color: var(--ion-color-primary-contrast); /* Color del texto en el toolbar */
  text-align: center;
}
ion-back-button.letra {
    font-weight: bold;
}
ion-title.titulo-header {
  --color: #2F2E2E;
}  
/* Estilo para el contenido */
ion-content.background {
  --background: #EEF1FB; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1; 
}  
/* Aplica un color de fondo al header cuando se colapsa */
ion-header[collapse="fade"] ion-toolbar {
  --background: var(--ion-color-primary); 
  color: var(--ion-color-primary-contrast); 
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;

}

ion-item {
  --highlight-color-focused: #6a0dad; 
}

/* Estilo para que deshabilitar los items los muetsre en gris */
.disabled-item {
  color: #a8a8a8;
  --background: #f0f0f0; 
  --color: #a8a8a8; 
}

ion-button {
  width: 70%; 
  max-width: 400px;
  margin: 20px auto; 
  font-family: 'Helvetica', sans-serif;
  font-size: larger;
  font-weight: bold;
  height: 50px; 
  display: block; 
  text-align: center; 
  border-radius: 25px; 
  /* Quitar cualquier estilo de fondo o color que pueda interferir */
  --background: none;
  --color: inherit;
}

/* Estilos especiales para el boton-salir */
.boton-salir {
  background: linear-gradient(145deg, #ff4c4c, #e60000); 
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5), 0 -4px 8px rgba(230, 0, 0, 0.5); 
  color: white; 
  width: 200px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; 
  border: none; 
  padding: 0; 
  overflow: hidden; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.boton-salir:hover {
  background: linear-gradient(145deg, #e60000, #cc0000); 
  transform: scale(1.05); 
}
.boton-salir:active,
.boton-salir:focus {
  background: linear-gradient(145deg, #e60000, #cc0000); 
}
.boton-salir::before {
  content: '';
  position: absolute;
  top: 3px; 
  left: 3px; 
  right: 3px; 
  bottom: 3px;
  border: 2px solid rgb(90, 89, 89);
  border-radius: 45px; 
  z-index: 1; 
  background: transparent; 
}
.boton-salir::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
  position: absolute;
  left: 40px; 
  bottom: 10px;
  z-index: 2;
}

.boton-registrarse {
background: linear-gradient(145deg, #7B5BF2, #6A4ED9); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(123, 91, 242, 0.5), 0 -4px 8px rgba(106, 78, 217, 0.5); 
    color: white; 
    width: 200px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative; 
    border: none;
    padding: 0; 
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease; 

}

.boton-registrarse:hover {
  background: linear-gradient(145deg, #36a2e4, #2b89c7); 
  transform: scale(1.05); 
}
.boton-registrarse:active,
.boton-registrarse:focus {
  background: linear-gradient(145deg, #36a2e4, #2b89c7);
}
.boton-registrarse::before {
  content: '';
  position: absolute;
  top: 3px; 
  left: 3px; 
  right: 3px;
  bottom: 3px; 
  border: 2px solid rgba(255, 255, 255, 0.5); 
  border-radius: 45px; 
  z-index: 1; 
  background: transparent;
}

.boton-registrarse::after {
  content: '';
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
  position: absolute;
  left: 40px; 
  bottom: 10px; 
  z-index: 2; 
}

/* Estilo para el footer con color del menú */
ion-footer.custom-footer {
  --background: #09184D; 
  height: 50px; 
  padding: 0; 
  position: fixed; 
  bottom: 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
}
/* Estilo para la toolbar del footer */
.footer-toolbar {
  --background: #09184D;
  padding: 0;
  text-align: center; 
  color: var(--ion-color-primary-contrast);
}
/* Estilo para el mensaje del footer */
.footer-message p {
  color: var(--ion-color-primary-contrast); 
  font-size: 0.9rem; 
  margin: 0; 
  font-family: 'Helvetica', sans-serif; 
}


